# Compute AMST

Notebook showing how to compute an Aproximate Minimum Spanning Tree using our code using graph_degree = 100 and alpha = 1.3. 
For more parameters please go to the documentation

In [2]:
import pandas as pd
import numpy as np
import time 
import sys
sys.path.append('../')
sys.path.append('../..')

from topomap.dataset_utils import fvecs_read, silentremove
from topomap.utils import build_mst_ann

In [ ]:
from time import time 
import pandas as pd
#alpha = 1.0 .... 1.5

#complexity = 75 ... 200 (> R) 

#R = 60 ... 150 
def compute_amst(datasets, alphas, Ls,  Rs):

    times = []
    for dataset_name in datasets:
        points = fvecs_read(f'../data/fvec_datasets/{dataset_name}.fvec')
        for alpha in alphas:
            for complexity in Ls:
                for graph_degree in Rs:
                    
                    amst_path = f'../data/msts/AMST_{dataset_name}_R_{graph_degree}_L_{complexity}_A_{int(10*alpha)}.npy'
                    begin = time()
                    AMST = build_mst_ann(points = points, graph_degree= graph_degree, alpha = alpha, complexity = complexity)
                    total_time = time()- begin
                    dict_aux = {'dataset':dataset_name,'time':total_time, 'alpha':alpha, 'L':complexity , 'R':graph_degree}
                    times.append(dict_aux)
                    silentremove(amst_path)
                    np.save(amst_path,AMST,allow_pickle= True)
    
    return pd.DataFrame.from_records(times)

times = compute_amst(datasets =  ['Iris','Mfeat','Seeds','MNIST', 'BIGANN','Urban','LLM','StreetAware'],
                     alphas = [1.0],
                    Ls = [100],
                     Rs = [100] )

display(times)

In [9]:
time_df = pd.DataFrame.from_records(times)
display(time_df)

                  time
iris          0.060903
mfeat         0.623770
seeds         0.067621
mnist        73.491957
sift_learn  107.520386
urban         4.387194
llm          17.233625

In [4]:
from time import time 
import pandas as pd
datasets = ['Iris','Mfeat','Seeds', 'MNIST']
times = []
for dataset_name in datasets:
    points = fvecs_read(f'../data/fvec_datasets/{dataset_name}.fvec')
    points = points
    alpha = 1.3
    graph_degree = 100
    amst_path = f'../data/msts/ANN_{dataset_name}_R100_A1_3.npy'
    begin = time()
    AMST = build_mst_ann(points = points, graph_degree= graph_degree, alpha = alpha)
    total_time = time()- begin
    dict_aux = {'time':total_time}
    times.append(dict_aux)
time_df = pd.DataFrame.from_records(times, index = datasets)
display(time_df)

            time
Iris    0.050214
Mfeat   0.611757
Seeds   0.043662
MNIST  46.551639